{% extends 'base.html.twig' %}

{% block title %}Edition employé - TaskLinker{% endblock %}

{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>{{employee.firstName}} {{employee.lastName}}</h1>
            </div>
        </header>
        <div id="content">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form) }}
                {{ form_row(form.first_name) }}
                {{ form_row(form.last_name) }}
                {{ form_row(form.email) }}
                <div style="display: flex; gap: 1rem;">
                    <div>
                        {{ form_row(form.arrival_at) }}
                    </div>
                    <div>
                        {{ form_row(form.contract) }}
                    </div>
                </div>
                    <button type="submit" class="button button-submit">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
